<%= form_with(model: shikiho, local: true) do |form| %>
  <% if shikiho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shikiho.errors.count, "error") %> prohibited this shikiho from being saved:</h2>

      <ul>
      <% shikiho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label '銘柄コード' %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label '企業名' %>
    <%= form.text_field :comp_name %>
  </div>

  <div class="field">
    <%= form.label '会社URl' %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :feature %>
    <%= form.text_field :feature %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label :outlook %>
    <%= form.text_field :outlook %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
