<p id="notice"><%= notice %></p>

<h1>四季報 <%= @year %>年<%= @quarter %> 一覧</h1>

<div id="sidebar" class="col-2">
  <%= form_tag(shikihos_path, :method => "get") do %>
    <%= label :year, "発行年月" %>
    <p>
    <%= select_tag :year, options_for_select(['2020', '2019', '2018', '2017'], :selected => @search_params[:year]) %>
    <%= select_tag :quarter, options_for_select([['春', '1'], ['夏', '2'], ['秋', '3'], ['冬', '4']], :selected => @search_params[:quarter]) %> 
    </p>
    <%= label :code, "銘柄コード" %>
    <%= text_field_tag :code, @search_params[:code] %> 
    <%= label :code, "企業名" %>
    <%= text_field_tag :comp_name, @search_params[:comp_name] %> 
    <%= label :code, "特徴" %>
    <%= text_field_tag :feature, @search_params[:feature] %> 
    <%= label :code, "トピック" %>
    <%= text_field_tag :topic, @search_params[:topic] %> 
    <%= label :code, "見通し" %>
    <%= text_field_tag :outlook, @search_params[:outlook] %> 
    <%= submit_tag "検索" ,:username => nil ,class: "btn is-info"%> 
  <% end %> 
</div>

<div id="content" class="col-10">
  <table class="table-striped table-bordered">
    <thead>
      <tr>
        <th width="50">銘柄コード</th>
        <th width="80">企業名</th>
        <th width="200">特徴</th>
        <th width="250">トピック</th>
        <th width="250">見通し</th>
        <th width="50"></th>
        <!--<th width="50"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @shikihos.each do |shikiho| %>
        <tr>
          <td><%= shikiho.code %></td>
          <td><%= shikiho.comp_name %></td>
          <td><%= shikiho.feature %></td>
          <td><%= shikiho.topic %></td>
          <td><%= shikiho.outlook %></td>
          <td><%= link_to '詳細', shikiho %></td>
          <%
=begin%>
 <td><%= link_to '履歴', code_detail_path(shikiho.code) %></td> 
<%
=end%>
          <!--
          <td><%= link_to 'Edit', edit_shikiho_path(shikiho) %></td>
          <td><%= link_to 'Destroy', shikiho, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @shikihos %>

  <br>

  <!-- <%= link_to 'New Shikiho', new_shikiho_path %> -->
</div>
