<p id="notice"><%= notice %></p>

<h1>Shikihos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shikihos.each do |shikiho| %>
      <tr>
        <td><%= link_to 'Show', shikiho %></td>
        <td><%= link_to 'Edit', edit_shikiho_path(shikiho) %></td>
        <td><%= link_to 'Destroy', shikiho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shikiho', new_shikiho_path %>
