<p id="notice"><%= notice %></p>

    <h1><%= @shikiho.code %> <%= @shikiho.comp_name %> <%= @shikiho.year %>年 <%= @quarter %></h1>
    <table border="1">
        <tbody>
            <tr>
                <th>決算</th>
                <th>設立</th>
                <th>上場</th>
                <th>URL</th>
                <th>本社</th>
                <th>業種</th>
                <th>比較会社</th>
                <th>従業員</th>
            </tr>
            <tr>
                <td><%= @shikiho.settlement %></td>
                <td><%= @shikiho.establishment %></td>
                <td><%= @shikiho.stock_listing %></td>
                <td><%= link_to  @shikiho.url %></td>
                <td><%= @shikiho.head_office %></td>
                <td><%= @shikiho.type_of_business %></td>
                <td><%= @shikiho.compare_company %></td>
                <td><%= @shikiho.num_of_employee %></td>
            </tr>
        </tbody>
    </table>
    
    <table border="1">
        <tbody>
            <tr>
                <th>連結</th>
                <th>連結事業</th>
            </tr>
            <tr>
                <td><%= @shikiho.consolidated %></th>
                <td><%= @shikiho.consolidated_business %></th>
            </tr>
        </tbody>
    </table>

    <table border="1">
        <tbody>
            <tr>
                <th>仕入先</th>
                <th>販売先</th>
                <th>証券</th>
                <th>銀行</th>
            </tr>
            <tr>
                <td><%= @shikiho.supplier %></th>
                <td><%= @shikiho.sales_contact %></th>
                <td><%= @shikiho.certificate %></th>
                <td><%= @shikiho.bank %></th>
            </tr>
        </tbody>
    </table>
    
    <h2>コメント</h2>
    <table border="1">
        <tbody>
            <tr>
                <th>特徴</th>
                <td><%= @shikiho.feature %></td>
            </tr>
            <tr>
                <th>トピック</th>
                <td><%= @shikiho.topic %></td>
            </tr>
            <tr>
                <th>次期展望</th>
                <td><%= @shikiho.outlook %></td>
            </tr>
        </tbody>
    </table>

    <h2>業績</h2>
    <table border="1">
        <tbody>
            <tr>
                <th></th>
                <th>売上高</th>
                <th>営業利益</th>
                <th>税前利益</th>
                <th>純利益</th>
                <th>一株利益</th>
                <th>一株配当</th>
            </tr>
            <tr>
                <td>予想</td>
                <td align="right"><%= @shikiho.next_sales %></td>
                <td align="right"><%= @shikiho.next_operationg_income %></td>
                <td align="right"><%= @shikiho.next_ordinary_income %></td>
                <td align="right"><%= @shikiho.next_net_income %></td>
                <td align="right"><%= sprintf("%.1f", @shikiho.next_net_income_per_share) %></td>
                <td align="right"><%= sprintf("%.1f", @shikiho.next_dividend) %></td>
            </tr>
            <tr>
                <td>実績</td>
                <td align="right"><%= @shikiho.prev_sales %></td>
                <td align="right"><%= @shikiho.prev_operating_income %></td>
                <td align="right"><%= @shikiho.prev_ordinary_income %></td>
                <td align="right"><%= @shikiho.prev_net_income %></td>
                <td align="right"><%= sprintf("%.1f", @shikiho.prev_net_income_per_share) %></td>
                <td align="right"><%= sprintf("%.1f", @shikiho.prev_dividend) %></td>
            </tr>
        </tbody>
    </table>

    <h2>キャッシュフロー</h2>
    <table border="1">
        <tbody>
            <tr>
                <td>営業CF</td>
                <td><%= @shikiho.operationg_cf %></td>
                <td>(<%= @shikiho.prev_operating_cf %>)</td>
            </tr>
            <tr>
                <td>投資CF</td>
                <td><%= @shikiho.investment_cf %></td>
                <td>(<%= @shikiho.prev_investment_cf %>)</td>
            </tr>
            <tr>
                <td>財務CF</td>
                <td><%= @shikiho.financing_cf %></td>
                <td>(<%= @shikiho.prev_financing_cf %>)</td>
            </tr>
            <tr>
                <td>現金等</td>
                <td><%= @shikiho.cash %></td>
                <td>(<%= @shikiho.prev_cash %>)</td>
            </tr>
        </tbody>
    </table>

    <h2>財務状況</h2>
    <table border="1">
        <tbody>
            <tr>
                <td>総資産</td>
                <td><%= @shikiho.total_assets %></td>
            </tr>
            <tr>
                <td>自己資本</td>
                <td><%= @shikiho.owned_capital %></td>
            </tr>
            <tr>
                <td>自己資本比率</td>
                <td><%= @shikiho.owned_capital_ratio %></td>
            </tr>
            <tr>
                <td>資本金</td>
                <td><%= @shikiho.capital %></td>
            </tr>
            <tr>
                <td>利益余剰金</td>
                <td><%= @shikiho.retained_earnings %></td>
            </tr>
            <tr>
                <td>有利子負債</td>
                <td><%= @shikiho.interest_bearing_debt %></td>
            </tr>
        </tbody>
    </table>
    
<%= link_to 'Edit', edit_shikiho_path(@shikiho) %> |
<%= link_to 'Back', shikihos_path %>
